  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

/* Seccion Principal */

*{
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.cont-titulo{
    display: flex;
    justify-content: center;
    padding-top: 6vh;
}

.cont-form{
    background-color: rgb(236, 171, 171);
    padding: 30px 50px;
    border-radius: 25px;
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
    box-shadow: 2px 5px 20px black;
}

.cont-principal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-bottom: 20vh;
}

.form label, .form input, .form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.form input[type="file"], .form button[type="submit"], .form input[type="text"], .form input[type="number"]{
    border: none;
    border-radius: 15px;
    padding: 5px;
}

.form input[type="text"], .form input[type="number"]{
    background-color: rgb(231, 231, 231);
}

.form button[type="submit"]:hover{
    background-color: rgb(199, 200, 201);
}

/* Seccion Error */

.cont-tit-aviso {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0px;
  }
  
  .tit-aviso{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    box-shadow: 2px 0px 20px black;
    background-color: rgb(224, 219, 214);
    padding: 10px;
  }

  .cont-tit {
    display: flex;
    justify-content: center;
    color: red;
  }

  .cont-aviso {
    margin: 0 auto;
    width: 80%;
    text-align: center;
  }
  
  .cont-req-ej {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
  
  .cont-req {
    margin: 0 auto;
    width: 80%;
    box-shadow: 2px 0px 20px black;
    background-color: rgb(224, 219, 214);
    padding: 10px;
  }
  
  .tit-req{
    font-size: 25px;
    padding-bottom: 10px;
  }

  .list-req {
    list-style: none;
    padding: 0;
  }
  
  .req {
    margin-bottom: 10px;
  }
  
  .txt-ej {
    margin: 30px 0px;
    width: 80%;
    text-align: center;
    box-shadow: 2px 0px 20px black;
    background-color: rgb(224, 219, 214);
    padding: 10px;
    margin-left: 80px;
  }
  
  .img-ej {
    margin: 0 auto;
    width: 80%;
  }
  
  .img-ej img {
    width: 100%;
  }